:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }
  /* Spinner style */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #09f;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/* Other Styles */

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #18191b;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }
  #brand {
    font-size: x-large;
    font-weight: bold;
  }
  
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .grid-container {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  margin-top: 120px;
  text-align: center;
}
.grid-container--alt {
  max-width: 70%;
  grid-template-columns: auto auto auto;
  top: 80%;
  text-align: center;
  justify-content: space-around;
  position: absolute;
  top: 75%;
  margin: 10% 10% 0% 12%;
  gap: 15px;

}

  #uploadImg {
    height: 35%;
    width: 50%;
    border: 1px solid lightgray;
    border-radius: 25px;
    position: absolute;
    top: 45%;
    right: 25%;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .custom-file-upload {
  position: relative;
  display: inline-block;
  color: aliceblue;
  font-size: large;
  margin-top: 5%;
}

.custom-file-upload input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
  #uploadButton {
    width: 40%;
    height:20%;
    border-radius: 25px;
    background-color: #18191b;
    position: absolute;
    top: 40%;
    left: 30%;
  }
  h1 {
    font-size: xx-large;
    color: #333;
  }
  span {
    font-size: medium;
  }
  .bg-brush {
    background-image: url('https://static.remove.bg/deco-brush.svg');
    position: absolute;
    width: 70px;
    font-size: larger;
    font-weight: bold;
}
footer {
  display: flex;
  position: absolute;
  background-color: rgb(226, 226, 226,0.7);
  height: 40%;
  top: 150%;
  min-width: 100%;
  justify-content: space-around;
  align-items: center;
}
.rights {
  position: absolute;
  top: 190%;
  background-color: #000;
  text-align: center;
  color: aliceblue;
  width: 100%;
}


@media screen and (max-width: 768px) {
  #uploadImg {
    width: 80%;
    right: 10%;
  }
  #uploadButton {
    width: 50%;
    height:20%;
    left: 25%;
  }
  .grid-container--alt {
  grid-template-columns: auto ;
  margin-top: 15%;
  margin-right: 10%;
  margin-left: 8%;
}
footer {
  top: 250%;
  height: 50%;
  display: inline;
}
.rights {
  top: 300%;
}
}